<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>로그인</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" style="border-radius: 10px; background-color: blue; color: white;">로그인</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>


